@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
}

.img {
  filter: blur(3.5px);
}

.navheading {
  color: #ffffff;
  background: transparent;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}

@layer base {
  body{
    @apply overflow-x-clip
  }
  .button {
    @apply p-2 bg-[#ff8000] md:w-72 mt-6 font-semibold text-sm duration-75 rounded-sm anibutton;
  }
  .cbutton {
    @apply bg-white text-black/80 font-semibold px-2 py-1 rounded-sm shadow-lg hover:scale-105 duration-75;
  }
  .card{
    @apply cursor-pointer hover:border duration-75 hover:scale-105 rounded-sm
  }
  .b{
    @apply bg-white px-5 py-2 rounded-sm md:w-44 button mt-5 font-semibold text-sm 
  }
}

.anibutton:hover {
  box-shadow: inset 0 -3.25em 0 0 #ff8000;
  transition: 0.4s;
  scale: 110%;
}

.button:hover {
  box-shadow: inset 0 -3.25em 0 0 rgb(7, 190, 7);
  transition: 0.4s;
  scale: 110%;
}

.sidebar{
  grid-area: sidebar;
  height: calc(100vh - 6rem);
}

.box{
  grid-area: box;
}

.box_container{
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: auto;
  grid-template-areas: "sidebar box";
}